nav.navbar {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
nav.navbar a {
  position: relative;
  color: #121212;
  font-size: 17px;
}
nav.navbar a i.fa {
  opacity: 0.3;
}
nav.navbar a.navbar-brand {
  font-size: 22px;
}
nav.navbar a.feedback {
  color: #4c89fc;
  transition: 0.5s ease;
}
nav.navbar a.feedback:hover {
  color: #fb7993;
}
nav.navbar a.feedback:hover::after {
  border-bottom: 1px dotted #fb7993;
}
nav.navbar a.feedback:after {
  content: "";
  position: absolute;
  bottom: 20%;
  width: 90%;
  height: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px dotted #4c89fc;
  transition: 0.5s ease;
}
